* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #000000;
}

.text-princ {
    color: azure;
    text-align: center;
    font-size: 40px;
}

.cabecalho {
    background-color: #27004b;
    padding-bottom: 10px;
    padding-top: 10px;
}

.geral {
    color: azure;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    background-color: #27004b;
    padding: 10px;
    border-radius: 5px;
    gap: 15px;
}

.title {
    font-weight: 900;
    font-size: 50px;
}

.description {
    font-size: 25px;
    margin-top: 10px;
}

.price {
    font-size: 40px;
    margin-top: 20px;
    font-weight: 900;
}

.price-color {
    color: #32D27A;
}

.div-btn {
    display: flex;
    justify-content: center;
    align-items: end;
    margin-top: 198px;
}

.btn {
    background-color: #5835cd;
    width: 100%;
    padding: 5px;
    font-size: 20px;
    color: azure;
    font-weight: 900;
    border: none;
}

.btn:hover {
    transition: 0.4s;
    background-color: #3d18b6;
}

.more-infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.text-more {
    color: azure;
    margin-bottom: 20px;
}

tr:nth-child(even) {
    background-color: azure;
    color: #5835cd;
}

.table {
    background-color: #5835cd;
    color: azure;
    width: 100%;
    text-align: center;
    font-size: 23px;
}