* {
    margin: 0;
    padding: 0;
    font-family: monospace;
}

body {
    background-color: #000000;
    transition: 0.5s;
}


.menu-principal {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    width: 100%;
}

.cabecalho {
    background-color: #27004b;
    padding-bottom: 10px;
    padding-top: 10px;
    transition: 0.5s;
}

.menu-lateral {
    background: rgba(35, 0, 60, 0.85);
    backdrop-filter: blur(10px);
    color: azure;
    padding-left: 70px;
    padding-right: 70px;
    margin-left: 87%;
    height: 94.3vh;
    width: 0;
    overflow: hidden;
    padding: 0;
    border: none;
    transition: 0.5s;
    position: fixed;
    right: 0;
    margin-top: 65px;
    border-left: 0.3px solid azure;
}


.text-menu-lateral {
    text-align: center;
    font-weight: 900;
    margin-top: 10px;
    font-size: 38px;
    letter-spacing: 3px;
    color: azure;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.img-btn {
    background-color: #27004b;
    border: none;
    transition: 0.5s;
}

.logo {
    margin-left: 20px;
}

.img-carrinho {
    margin-right: 30px;
    cursor: pointer;
    transition: 0.3s ease;
}

.img-carrinho:hover {
    transform: scale(1.2);
}

.pesquisar {
    width: 400px;
    height: 17px;
    border: none;
    border-radius: 1.8px;
    padding: 8px;
    color: #6f1bbc;
}

.barra_de_pesquisa {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.lupa {
    position: fixed;
    margin-right: 3px;
    cursor: pointer;
}

.sec-produtos {
    display: flex;
    justify-content: space-around;
    gap: 25px;
    flex-wrap: wrap;
    margin-right: 5px;
}

.produto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    color: azure;
    background-color: #27004b;
    padding: 10px;
    width: 20%;
    margin-bottom: 15px;
    border-radius: 5px;
    box-shadow: #3d0077 1.5px 1.5px 1.5px;
}

.produto:hover {
    transition: 0.5s;
}


.descricao {
    display: flex;
}

.img-produto {
    border-radius: 5px;
    width: 100%;
    object-fit: cover;
}


.btn {
    background-color: #5835cd;
    border: none;
    border-radius: 5px;
    color: azure;
    cursor: pointer;
    padding: 5px;
    width: 100%;
}

.btn:hover {
    opacity: 0.9;
    transition: 0.3s;

}

.page {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.foo {
    color: azure;
    background-color: #27004b;
    padding: 15px;
    text-align: center;
    margin-top: 20px;
    transition: 0.5s;
}

.sec-contato {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.container2 {
    background-color: #27004b;
    width: 400px;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 0 0 15px azure;
    transition: 0.5s;
}

.info {
    display: flex;
    flex-direction: column;
    color: azure;
    gap: 5px;
}

.input {
    margin-bottom: 5px;
    border: none;
    border-radius: 3px;
    color: #5835cd;
    padding: 5px;
}

.title-contact {
    color: azure;
    text-align: center;
    font-weight: 900;
    margin-bottom: 10px;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}

.btn2 {
    background-color: #5835cd;
    border: none;
    border-radius: 5px;
    color: azure;
    cursor: pointer;
    padding: 5px;
    width: 100%;
    margin-top: 15px;
}

.btn2:hover {
    opacity: 0.9;
    transition: 0.3s;
}

.lista_links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 10px;
    list-style: none;
    margin-top: 20px;
    font-weight: 900;
}

.link {
    color: rgb(189, 189, 189);
    margin-top: 20px;
    font-size: 15px;
}

.link:hover {
    color: rgb(235, 235, 235);
    transition: 0.4s;
}

.perfil {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-left: 10px;
    margin-right: 10px;
    gap: 5px;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: #5835cd;
    padding: 8px;
    border-radius: 10px;
}

.text-perfil {
    display: flex;
    flex-direction: column;
}

.text-perfil p {
    font-size: 15px;
    color: azure;
}

.text-perfil a {
    font-size: 11px;
    color: rgb(194, 194, 194);
}

.hr-linha {
    margin-left: 10px;
    margin-right: 10px;
}

.uniao {
    display: flex;
    align-items: center;
    gap: 8px;
}


.uniao img {
    height: 20px;
}

.img-banner {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}



.nossos-produtos {
    display: block;
    width: 100%;
}

h1 {
    color: azure;
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 50px;
}

.btns {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-bottom: 15px;
}

.btn-mode1 {
    cursor: pointer;
    transition: 0.4s;
}

.btn-mode1:hover {
    transform: scale(1.2);
}

.btn-mode2 {
    cursor: pointer;
    transition: 0.4s;
}

.btn-mode2:hover {
    transform: scale(1.2);
}

.lend {
    color: #a94eff;
}